*{
  margin: 0;
  padding: 0;
}
body, html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#calculator{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 380px;
    text-align: center;
    justify-content: center;
    background-color: gray;
}
#display{
    background: lightgreen;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 85%;
    padding-left: 8px;
    height: 40px;
    justify-content: center;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.button{
    width: 45px;
    height: 45px;
    margin: 3px;
    background-color: lightcyan ;
}