*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;   
    
}

/*div class is changed by js (From box -->  newBox)*/
/* .box
.newBox */
#boxId{
    height: 50%;
    width: 50%;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px; 
}

